:root{
    --bg-color: violet;

    --display-method: inline-block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a,input{
    color: inherit;
    font-size: inherit;
}

/* scroll kapattı owerflow */
/* body{
    overflow-y: hidden; 
    overflow-x: hidden;
    overflow: hidden;

} */

h1{
    background-color: var(--bg-color);
    display: var(--display-method);

}

h1:hover{
    background-color: wheat;
}

h2{
    background-color: var(--bg-color);
    display: var(--display-method);
}

p{
    font-size: 24px;
}

p::first-line{
    font-size: 32px;
}

p::first-letter{
    font-weight: 900;
    font-size: 42px;
}

a {
    color: black;

}

a:hover{
    font-size: 24px;
    color: crimson;
}

.container{
    min-height: 200px;
    background-color: aqua;
    /* display: none; akıştan siler */
    opacity: 0.5;
    /* cursor: crosshair; */
    user-select: none;
    letter-spacing: 2px;
    word-spacing: 20px;
    line-height: 80px;
}

.container p:nth-child(3){
    color: rebeccapurple;
}

.container p:nth-child(3)::after{
    content: "Merhaba";
    width: 100px;
    height: 100px;
    background-color: coral;
    display: var(--display-method);
}

.container p:nth-child(3)::before{
    content: "";
    width: 200px;
    height: 40px;
    background-color: aqua;
    display: var(--display-method);
}

/* 
background: linear-gradient(yön, renk1, renk2,renk3, ....); 
to bottom 180deg
to left 270deg
to right  90deg
to top
*/

.birimler{
    background: linear-gradient(120deg, lightblue, blueviolet, purple, black);
    width: 50vw;
    height: 50vh;
    display: inline-block;
    font-size: 2rem;
}





/* 
mutlak birimler (absolute Units)
cm (santimetre - cantimeter) => 1cm'ye eşit
mm (milimetre - milimeter) => 1mm'ye eşit
in (inç - inch) => 1inch değerine eşit = 96px
px (piksel - pixel) => 1inc değerinin 1/96'sı
pt(point => 1inch değerinin 1/72'si
pc(picas) = 12 point


Göreceli Birimler (Relative Units)
em => 
rem =>1rem = 16px (html elementinden geliyor).
% => 
vh => (viewport height) heigth
vw => (viewport width) width

*/

/* a:visited{
    ziyaret dilmiş linkler
} */

/* a:active{
    link inaktif olduğu durumda özellik ataması yapar
} */

/* a:link{
    henüz ziyaret edilmemiş linkler
} */


/* 
container class'ına sahip div'in içindeki tüm div ve p elemntlerini seç

.container div +p
=
.container div,
.container p



container class'ına sahip div içindeki bütün elementleri seçmek.
.container *

container class'ına sahip div içindeki decription class'ına ve paragraph-2 class'ına sahip p elemntini seçmek.
.container .description.paragraph-2

container içindeki p elementi olmayan tüm elementler
.container *:not(p)

*/


/* 

#id-name: 100

.class-ame: 10

element-name: 1

<p style"...">paragraph</p>: 1000

p#description: 100 + 1

p.description: 10 + 1

.main-title.header-title: 10 + 10

.h1.main-title.header-title: 10 + 10 + 1

- *: 0

#navbar p#demo: 100+ 100+ 1


- !important: sonsuz

*/

/* 

header .main-title

main .main-title

.main-title


*/