:root {
    --primary: rgba(37, 37, 37, 1);
    --secondary: rgba(252, 41, 74, 1);
    --shades: rgba(238, 238, 238, 1);
    --first: #082032;
    --second: #2c394b;
    --third: #334756;
    --forth: #ff4c29;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */

nav {
    z-index: 999;
    position: fixed;
    bottom: 20px;
}

.item a,
.label {
    text-decoration: none;
    color: var(--forth);
    font-weight: 900;
    font-size: 2rem;
}

.menu {
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    bottom: 20px;
    left: 20px;
}
.menu:hover {
    pointer-events: all;
}
.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}
.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}
.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}
span {
    transition: color 0.5s ease;
}
.item:hover a {
    color: black;
}
.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}
.menu:hover .item {
    opacity: 1;
    top: 0px;
}
.item:nth-child(1) {
    transition-delay: 0.45s;
}
.item:nth-child(2) {
    transition-delay: 0.4s;
}
.item:nth-child(3) {
    transition-delay: 0.35s;
}
.item:nth-child(4) {
    transition-delay: 0.3s;
}
.item:nth-child(5) {
    transition-delay: 0.25s;
}
.item:nth-child(6) {
    transition-delay: 0.2s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

/* BODY */
.header,
.home,
.about,
.portfolio {
    height: 100vh;
}

.home {
    background-color: var(--first);
}

.about {
    background-color: var(--second);
}

/* HOME */
#home h2{
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}





/* Portfolio */
.bounce {
animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.portfolio {
    background-color: var(--third);

}


.portfolio h2 {
    font-weight: 900;
    font-size: 3rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

.portfolio i {
    font-weight: 900;
    font-size: 3rem;
    margin-top: 5px;
    position: relative;
    top: 50%;
    left: 49%;
    margin-right: -50%;
}


.project-1{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-top: 10px;
}

.p-right{
    border: 1px solid black;
    width: 54%;
    height: 360px;
}

.p-left{
    border: 1px solid black;
    width: 43%;
    height: 360px;
}


/* .header,
.home,
.about,
.portfolio,
.contact,
.footer {
    position: relative;
} */

.header h1,
.footer h1 {
    color: var(--shades);
}

.footer {
    height: 50vh;
    background-color: var(--primary);
}

.header {
    background-color: var(--primary);
}
