*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gokyuzu{
    background-color: rgb(224, 126, 82);
    width: 100%;
    height: 477px;
}

.deniz{
    background-color: rgb(72, 182, 250);
    width: 100%;
    height: 477px;
    position: relative;
    z-index: 0;
}

.gunes3{
    width: 340px;
    height: 340px;
    background-color: rgb(255, 168, 118);
    border-radius: 50%;
    position: relative;
    top: 300px;
    left: 800px;
}

.gunes2{
    width: 290px;
    height: 290px;
    background-color: rgb(255, 150, 52);
    border-radius: 50%;
    position: relative;
    top: -15px;
    left: 825px;
}

.gunes1{
    width: 240px;
    height: 240px;
    background-color: rgb(255, 115, 0);
    border-radius: 50%;
    position: relative;
    top: -280px;
    left: 850px;
}

.katman{
    height: 59.6px;
    border: 1px solid transparent;
}

.katman1 .dalga{
    background-color: rgb(116, 196, 245);
    height: 100%;
    width: 30%;
    position: relative;
    left: 600px;
    border-radius: 40px;
}

.katman2 .dalga{
    background-color: rgb(116, 196, 245);
    height: 100%;
    width: 20%;
    position: relative;
    left: 900px;
    border-radius: 40px;
}

.katman2 .dalga2{
    background-color: black;
    height: 100%;
    width: 20%;
    position: relative;
    left: 1000px;
    top: -59.6px;
    border-radius: 40px;
}
