@mixin container-rules($bg-color, $yukseklik) {
    height: $yukseklik;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $bg-color;
}