@import "./variables";
@import "./container-1";
@import "./mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-2{
    // @include container-rules(cadetblue, 400px);
    @extend .container-1;
    height: 400px;
    background-color: cornflowerblue;
}