$bg-color: rgb(104, 39, 165);
$f-size: 2rem;

@mixin container-rules {
    height: 300px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-1{
    background-color: $bg-color;
    @include container-rules();

    button{
        font-size: $f-size;

        &:hover{
            background-color: tan;
        }
    }

}

.container-2{
    background-color: cadetblue;
    @include container-rules();
}